 /* Dien Thoai Doc */
 @media all and (min-width: 240px) {
    .search {
    width: 230px;
    margin-left: 70px;
    }
    .toggle {
        margin-top: -47px;
    }
    .wrapper {
        margin-top: -55px;
      }
      
      .typing-demo {
        font-size: 13px;
    }
    .content-with-sidebars > * {
        padding-top:20px;
      }
      

    #tours {
        text-align: center;
      } 
      .tour-sale{
        width:95%;
        margin: 10px 10px;
      } 
      .sale h3 {
        font-size: 35px;
      }
      .sale > p {
        font-size:20px;
      }
}
/* Dien Thoai Ngang */
@media all and (min-width: 576px) {
    .search  {
        width: 270px;
        top : 2px;
        margin-left: 90px;
        }
        .toggle {
            margin-top:1px;
            margin-right: 30px;
        }
        .wrapper {
            margin-top: -100px;
          }
          
          .typing-demo {
            font-size: 20px;
        }
        .tour-sale{
            width:46%;
            margin: 10px;
          } 
          .content-with-sidebars > * {
            padding-top:30px;
          }
          input {
            width: 100%;
          }
    }
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
          
    .typing-demo {
        font-size: 25px;
    }
    #tours {
        padding-top: 20px;
      }

      .content-with-sidebars > * {
        width:50%;
      }
      .content-with-sidebars > *:nth-child(1) {
        width:100%;
      }
      
      .column-main > * {
        width:50%;
    }
    .column-main > *:nth-child(1) {
        width:100%;
    }
    .responsive-three-column-grid {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }

    .toggle, .search{
      display: none;
    }
   
    .wrapper {
        margin-top: -190px;

      }
      .typing-demo {
        font-size:40px;
    }
    .tour-sale{
        width: 23%;
        margin: 10px;
      }
      .content-with-sidebars > * {
        padding-top: 90px;
      }
      
  .content-with-sidebars > * {
    width:25%;
  }
  .content-with-sidebars > *:nth-child(1) {
    width:50%;
  }
  .content-with-sidebars > *:nth-child(2) {
    order:-1;
  }

  .column-main > * {
    width:25%;
}
.column-main > *:nth-child(1) {
    width:50%;
}
.column-main > *:nth-child(2) {
    order:-1;
}
  }


   
